.chat_room_list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 100%;
    justify-content: flex-end;
}

.chat_add_button {
    width: fit-content;
    align-self: center;
}
