.dashboard_layout {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dashboard_top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}

.dashboard_bottom_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* BEGIN USER INFO */

.dashboard_top_bar_user_info {
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 1em;
    gap: 1.5em;
    min-height: 20vh;
}

.dashboard_top_bar_user_pfp_container {
    position: relative;
    border-radius: 2em;
    width: fit-content;
    height: fit-content;
}

.dashboard_user_info_pfp {
    height: 5vw;
    width: 5vw;
    border-radius: 2em;
    border-width: 0.25em;
    border-color: rgba(255, 255, 255, 0.25);
    border-style: outset;
}

.dashboard_user_pfp_upload {
    transition: background-color 1s ease-in-out;
    position: absolute;
    height: 5vw;
    width: 5vw;
    border-radius: 2em;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.dashboard_user_pfp_upload > i {
    transition: opacity 1s ease-in-out;
    color: white;
    align-self: center;
}

.dashboard_user_pfp_tooltip_title {
    font-size: 1em;
}

.dashboard_user_info {
    background-color: rgba(0, 0, 0, 0.85);
    color: rgba(255, 255, 255, 0.75);
    padding: 1em;
    border-radius: 0.5em;
    min-width: 25vw;
}

.dashboard_user_username {
    font-size: 0.8em;
    color: rgba(128, 128, 128, 0.75);
}

.dashboard_user_handle {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.05em;
    display: flex;
    flex-direction: row;
    gap: 0.75em;
}

.dashboard_user_handle > i {
    align-self: center;
}

.user_email_confirmed_icon {
    color: rgb(21, 199, 247);
}

.user_email_unconfirmed_icon {
    color: rgb(204, 51, 0);
}

.dashboard_user_info_divider {
    color: gray;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid gray;
}

.dashboard_user_stats {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.dashboard_member_since {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
}

.dashboard_member_since_title {
    font-weight: bold;
}

.dashboard_member_since_date {
    font-size: 0.9em;
    opacity: 0.75;
}

.hidden_file_import {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    display: inline;
    opacity: 0;
    visibility: hidden;
}

.dashboard_user_info_edit_user {
    transition: right 1s ease-in-out, opacity 1s ease-in;
    border-radius: 2em;
    position: absolute;
    right: 1vw;
    top: 1vw;
    opacity: 0%;
    height: 2.5vw;
    width: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard_user_info_edit_user > i {
    align-self: center;
}

.dashboard_user_info_add_friend {
    transition: top 1s ease-in-out, right 1s ease-in-out, opacity 1s ease-in;
    border-radius: 2em;
    position: absolute;
    right: 1vw;
    top: 1vw;
    opacity: 0%;
    height: 2.5vw;
    width: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard_user_info_add_friend > i {
    align-self: center;
}

.dashboard_user_info_inbox {
    transition: bottom 1s ease-in-out, right 1s ease-in-out, opacity 1s ease-in;
    border-radius: 2em;
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    opacity: 0%;
    height: 2.5vw;
    width: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard_user_info_inbox > i {
    align-self: center;
}

.dashboard_user_logout {
    transition: bottom 1s ease-in-out, right 1s ease-in-out, opacity 1s ease-in;
    border-radius: 2em;
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    opacity: 100%;
    height: 2.5vw;
    width: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard_user_logout > i {
    align-self: center;
}

/* END USER INFO */

/* BEGIN FRIENDS LIST */

.dashboard_top_bar_friends_list {
    background-color: rgba(255, 255, 255, 0.25);
    min-width: 30vw;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-scrollbar-track-color: transparent;
    scrollbar-track-color: transparent;
    min-height: 100%;
    scroll-behavior: smooth;
}

.dashboard_no_friends_display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard_no_friends_display_content {
    display: flex;
    flex-direction: column;
}

.dashboard_no_friends_display_title {
    font-family: "Dynapuff", sans-serif;
    color: rgba(255, 255, 255, 0.75);
}

.dashboard_no_friends_display_subtitle {
    font-family: "Dynapuff", sans-serif;
    font-size: 0.75em;
    text-align: center;
    color: rgba(128, 128, 128, 0.5);
}

/* END FRIENDS LIST */

/* ANIMATIONS */

@keyframes appear_anim {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
