.sign_up_content {
  padding: 1.5em;
  border: 1px solid black;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  width: 45vw;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.sign_up_header {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.sign_up_back_button {
  transition: 1s color ease-in-out;
  cursor: pointer;
}

.sign_up_back_button:hover {
  color: lightblue;
}
