@keyframes change_password_button_anim {
    0% {
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        position: absolute;
    }
}

.user_settings_modal_content {
    background-color: rgba(0, 0, 0, 0.85);
    border: 1px outset white;
    color: white;
}

.user_settings_modal_title {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.user_settings_modal_title_content {
    font-family: "Dynapuff", sans-serif !important;
    letter-spacing: 0.04vw;
}

.user_settings_modal_title > i {
    align-self: center;
}

.user_settings_modal_header {
    border-bottom: none;
}

.user_settings_modal_footer {
    border-top: none;
}

.user_settings_modal_body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.user_settings_modal_option_button {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
}

.user_settings_modal_option_button > i {
    align-self: center;
}

.delete_account_icon {
    --fa-bounce-height: -0.4vh;
}

.user_settings_close_button {
    font-family: "Dynapuff", sans-serif;
}

.confirm_text {
    font-size: 0.75em;
    align-self: center;
}

.user_settings_change_password_button {
    animation: change_password_anim 1s ease-in-out;
}

.change_password_form {
    transition: opacity 2s ease-in-out;
}
