.password_requirement_valid {
    color: lightgreen;
}

.password_requirement_invalid {
    color: lightcoral;
}

.password_requirement_icon {
    padding-right: 0.5em;
}

.password_requirement {
    font-size: 0.7em;
}
