.threads_container {
    display: flex;
    flex-direction: column;
}

.thread {
    display: flex;
    flex-direction: row;
}

.thread_user {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.thread_user_pfp {
    height: 3vw;
    width: 3vw;
    border-radius: 2em;
    border-width: 0.25em;
    border-color: rgba(255, 255, 255, 0.25);
    border-style: outset;
    opacity: 50%;
}

.thread_user_pfps {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.thread_collapse {
    max-height: 25vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.25);
    border-radius: 1em;
}

.thread_messages {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 1em;
}

.no_threads_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.25em;
    color: rgba(255, 255, 255, 0.75);
}

.no_threads_content {
    display: flex;
    flex-direction: column;
}

.no_threads_title {
    font-family: "Dynapuff", sans-serif;
}

.no_threads_subtitle {
    font-size: 0.75em;
    text-align: center;
    color: rgba(128, 128, 128, 0.65);
    font-family: "Dynapuff", sans-serif;
}
