.application_modal_content {
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px outset white;
    color: white;
    min-height: 80vh;
}

.application_modal_inner_listgroup_item {
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px outset white;
    color: white;
}

.application_modal_listgroup_parent {
    gap: 0.5em;
}

.application_modal_listgroup_link {
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    color: rgba(128, 255, 255, 0.85);
}

.application_modal_listgroup_header {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.application_modal_listgroup_toggle_section {
    border-radius: 2em;
}

.application_modal_information_author > * {
    font-family: "DynaPuff", sans-serif;
    letter-spacing: 0.04em;
}

.application_modal_information_author_description {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.95em;
}

.application_modal_information_author {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.application_modal_information_author_header {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}
