.username_form {
    background-color: rgba(128, 128, 128, 0.25);
    color: rgba(255, 255, 255, 0.25);
}

.username_form:focus {
    background-color: rgba(128, 128, 128, 0.25);
    color: rgba(255, 255, 255, 0.25);
}

.edit_modal_content {
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px outset white;
    color: white;
}

.edit_modal_title {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.edit_modal_form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.edit_modal_form > div > input:not(.username_form) {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
}

.edit_modal_form > div > input:focus:not(.username_form) {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
}

.edit_modal_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.edit_modal_footer > button {
    width: max-content;
}

.edit_user_email_form_label {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.edit_user_email_form_label > i {
    align-self: center;
}

.edit_user_email_form_icon_confirmed {
    color: lightblue;
}

.edit_user_email_form_icon_not_confirmed {
    color: orangered;
}
