.reply_to_modal_content {
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.reply_to_modal_header {
    border-color: transparent;
}

.reply_to_user_modal_header_content {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.reply_to_modal_footer {
    border-color: transparent;
}

.reply_to_user {
    color: green;
}

.reply_to_user_characters_remaining {
    color: rgba(128, 128, 128, 0.5);
    font-size: 0.5em;
    align-self: center;
}
